.top {
  padding: 185px 0 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top__image{
  margin-bottom: 15px;
}
.top__buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-item {
    margin-bottom: 70px;
  }
}