
// colors
$color-pimary: #03a9f4;
$color-secondary: #ff8700;
$color-bg: #0e3cac;
// color text
$color-text: #111111;
$color-secondary-text: #b0b3b4;

// fonts
$font-primary:  'Raleway', sans-serif;
$font-secondary:  'Open Sans', sans-serif;
