.services__card-icon {
   width: 60px;
   height: 62px;
   fill: $primary-color-text; 
}
.contact-icon {
   fill: #ffffff;
   width: 44px;
   height: 60px;
}

.scroll-up {
   fill: #ffffff;
   width: 30px;
   height: 30px;
}