
// colors
$primary-color: #00897b;
$primary-color-light:#e4fdf9;
$primary-color-dark:#00796B;

$accent-color:  #3949ab;

// color text
$primary-color-text: #212121;
$secondary-text-color: #ffffff;

// color overlay
$bg-overlay: linear-gradient(#000000d9,#000000be);

// box-shadow
$box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);

  