
// $primary-color-dark:   #512DA8;
// $primary-color:        #673AB7;
// $primary-color-light:  #D1C4E9;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #9E9E9E;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

// color Text
$color-text-primary: #000000;
$color-text-secondary : #ffffff;
$color-text-gray: #6c6c6c;

// color
$color-accent: #6556df;
$color-accent--darked: #4b37e2;
$color-accent--opacity: rgba(#4b37e2, 0.79);


