.about {
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        align-items: center;
        .about-img {
            margin: 0 75px 0 50px;
            img {
                width: 386px;
            }
        }
        .about-description {
            &__title {
                margin: 0 0 20px;
            }
            &__subtitle {
                font-family: 'raleway-medium';
                font-size: 18px;
                line-height: 1.333em;
                font-weight: 700;
                margin: 0 0 25px; 
            }
            &__img {
                float: right;
                margin: 72px 0 0 30px;
            }
            &__text {
                font-size: 14px;
                line-height: 1.5em;
                color: $color-text-gray;
                letter-spacing: 0.05em;
                font-weight: 600;
                p {
                    margin: 0 0 25px;
                }                
            }
            &__list {
                &-item {
                    font-size: 14px;
                    line-height: 1.714em;
                    color: $color-text-gray;
                    font-weight: 600;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        background: $color-accent;
                        margin: 0 7px 2px 0;
                    }
                }
            }
        }
    }
}