.contact {
    padding: 70px 0 0;
    &__heading {
        text-align: center;
        max-width: 365px;
        background: $color-text-secondary;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    &__title{
        h2 {
            font-family: 'roboto-bold';
            letter-spacing: 0.1em;
        } 
    }
    &__subtitle{
        font-family: 'roboto';
        font-size: 14px;
        line-height: 1.286em;
        color: $color-text-gray;
    }
    .form {
        position: relative;
        top: -45px;
        max-width: 726px;
        height: 527px;
        border: 2px solid;
        margin: 0 auto;
        border: 2px solid #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item {
            width: 432px;
            display: flex;
            flex-direction: column;
            margin: 0 0 15px;
            position: relative;
            &::before {
                content: '*';
                display: block;
                position: absolute;
                line-height: 1.5em;
                color: #f38383;
                top: 28px;
                right: 8px;
                // width: 7px;
                // height: 7px;
            }
            &:first-child {
                margin: 90px 0 15px;
            }
            label {
                font-size: 18px;
                color: $color-text-gray;
                font-weight: 600;
                line-height: 1.5em;
            }
            input {
                height: 50px;
                padding: 0 20px;
            }
            textarea {
                height: 120px;
                padding: 15px 20px 0;
                resize:none;
            }
            input, textarea {
                width: 100%;
                border: 2px solid #f6f6f6;
                background: #f8f8f8;
                &::placeholder {
                    font-size: 18px;
                    font-family: 'roboto-light_italick';
                    color: #dbdbdb;
                    line-height: 1.167em;   
                }
            }
        }
        .btn {
            margin: 15px auto 0;
            
        }
    }
}