.who-uses {
    background: #f0f0f0;
    display: flex;
    align-items: center;
    position: relative;
    &__img {
        position: absolute;
        width: 209px;
        height: 195px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .users {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .users-item {
            display: flex;
            flex-direction: column;           
            .user {
                max-width: 384px;
                display: flex;
                // flex-direction: row-reverse;
                margin: 0 0 100px;
                .user-img {
                    position: relative;
                    width: 42px;
                    height: 42px;
                    border: 2px solid #000000;
                    img {
                        width: 25px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-48%, -45%);
                    }
                    .border-img {
                        width: 42px;
                        height: 42px;
                        border: 2px solid;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                    }
                }
                .user-content {
                    width: 280px;
                    margin: 0 0 0 10px;
                    &__title {
                        font-family: 'roboto-bold';
                        font-size: 18px;
                        margin: 9px 0 11px;
                        letter-spacing: 0.06em;
                    }
                    &__text {
                        font-size: 14px;
                        color: $color-text-gray;
                        line-height: 1.429em;
                        letter-spacing: 0.06em;
                        font-weight: 600
                    }
                }
            }
            &__right {
                .user {
                    flex-direction: row-reverse;
                    text-align: end;
                    .user-content {
                        margin: 0 5px 0 0;
                    }
                }
            } 
        }
        
    }
}